.top15 {
  margin-top: 15px;
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

input[name="number"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[name="expire"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 0;
}

input[name="cvc"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: 0;
  border-left: 0;
}
