<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Recipe Version</key>
  <string>1.0</string>

  <key>Organization Name</key>
  <string>CaffeineLabs</string>

  <key>Organization Identifier</key>
  <string>com.caffeinelabs</string>

  <key>Author Properties</key>
  <dict>
    <key>ID</key>
    <string>ALgdTtzkzptmSrPG7</string>
  </dict>

  <key>Channel Properties</key>
  <dict>
    <key>ID</key>
    <string>Wok55EFCerwSna5PR</string>

    <key>Name</key>
    <string>Machine Learning</string>

    <key>Description</key>
    <string>A collection of the most relevant machine learning courses, curated by the experts!</string>

    <key>TVJS Client URL</key>
    <string>http://channel-staging.heroku.com/</string>

    <key>TVJS App Path</key>
    <string>app.js</string>

    <key>Web API URL</key>
    <string>http://channel.build/api/</string>
  </dict>
</dict>
</plist>
