template(name="analyticsPage")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Analytics
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Unique Users Chart
          .panel-body
            if Template.subscriptionsReady
              +chartUniqueUsers
            else
              +loadingChart
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Video Views Chart
          .panel-body
            if Template.subscriptionsReady
              +chartVideoViews
            else
              +loadingChart

template(name="chartUniqueUsers")
  .chart-unique-users

template(name="chartVideoViews")
  .chart-video-views

template(name="loadingChart")
  img.img-responsive.center-block(src="/img/loading.gif", alt="loading")
