<template name="content">
  <div class="content-toolbar">
    <span class="btn btn-danger btn-xs content-delete-all" data="{{id}}">
      <i class="glyphicon glyphicon-minus"></i>
      Delete All
    </span>
  </div>
  {{#if videosLoading}}
    {{>loader}}
  {{else}}
    {{#each videos}}
      <div class="video-thumbnail-wrapper">
        {{#if hasThumbnail}}
          <img src="{{thumbnails.medium.url}}"
               class="video-thumbnail {{#if selected}}video-thumbnail-active{{/if}}"
               title="{{title}}">
        {{else}}
          <div class="video-thumbnail-upload video-thumbnail {{#if selected}}video-thumbnail-active{{/if}}"
               title="{{title}}">
            <i class="fa fa-play-circle"></i>
          </div>
        {{/if}}
        <div class="content-select-video">
          <span class="btn {{#if selected}}btn-success{{else}}btn-default{{/if}} btn-xs content-select-video-button" data="{{_id}}">
            <i class="glyphicon glyphicon-ok {{#if selected}}video-light-glyphicon{{/if}}"
               data="{{_id}}"></i>
          </span>
        </div>
      </div>
    {{/each }}
  {{/if}}
</template>
