.video-thumbnail {
  width: 120px;
  height: 68px;

  border-right: solid 1px #DDD;
  border-radius: 5px;
  margin: 5px;
  border: solid 1px #DDD;

  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-filter: grayscale(1.0);
  -moz-filter: grayscale(1.0);
  -ms-filter: grayscale(1.0);
  -o-filter: grayscale(1.0);
  filter: grayscale(1.0);
}

.video-thumbnail-upload {
  background-color: #337AB7;
  font-size: 45px;
  color: #F7FBFF;
  text-align: center;
  line-height: 0px;
}

.video-thumbnail-upload > i {
  padding-top: 10px;
}

.video-light-glyphicon {
  color: #F3EDED;
}

.video-thumbnail-active {
  -webkit-filter: grayscale(0.0);
  -moz-filter: grayscale(0.0);
  -ms-filter: grayscale(0.0);
  -o-filter: grayscale(0.0);
  filter: grayscale(0.0);
}

.video-thumbnail-wrapper {
  display: inline-block;
  vertical-align: top;
}

.content-toolbar {
  width: 100%;
  text-align: right;
}

.content-select-video {
  position: absolute;
  margin-left: 105px;
  margin-top: -25px;
}

.video-checkbox {
  width: 10px;
  height: 10px;
}

.video-drag-area {
}
