template(name="analytics")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Analytics
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Unique Users Chart
          .panel-body
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Video Views Chart
          .panel-body
