<template name="imageUploader">
  <div>
    <div class="image-uploader-picture" style="background-image: url('{{url}}'); height: {{sampleHeight}}px; width: {{sampleWidth}}px">
      <div class="image-uploader-dimensions">{{width}}  x {{height}}</div>
    </div>
    <div class="progress image-uploader-progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
      </div>
    </div>
    <span class="btn btn-primary btn-file">
      <input id="upload" type="file" accept="image/jpeg,image/png">
      <i class="fa fa-cloud-upload image-uploader-button"></i>{{button}}
    </span>
  </div>
</template>
