template(name="contentPage")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Manage Content
        p
          | Use this page to manage the content that is displayed in your application.
        form.app-form
          #app-form.form-group.app-video-group
            +content(importType="youtube")
