.app-label {
  width: 100%;
  margin-top: 20px;
}

input.text-name {
  width: 200px;
}

input.text-medium {
  width: 400px;
}

.uploader-block {
  display: inline-block;
  padding-right: 20px;
}

div.app-alert-error {
  width: 550px;
  display: inline-block;
  height: 35px;
  padding-top: 6px;
}
