.playlist-chooser {
  margin-top: 15px;
}

.playlist-item {
  border: solid 1px #DDD;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  background-color: #F7F7F9;
  width: 690px;
  margin-left: 41px;
}

.playlist-info {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  vertical-align: top;
  font-size: 10px;
  width: 100%;
}

.playlist-info-title {
  font-weight: bold;
  font-size: 15px;
  color: #656565;
  vertical-align: top;
}

.playlist-info-text {
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.playlist-thumbnail-cell {
  width: 120px;
}

.playlist-thumbnail {
  width: 120px;
  border-right: solid 1px #DDD;
}

.playlist-picker {
  margin-top: 10px;
}

i.youtube-icon {
  font-size: 18px;
}

.playlist-add-cell {
  vertical-align: bottom;
  padding: 8px;
}

.playlist-add {
}
