<template name="app">
  <div class="app-header">
    <div class="logo-area">
      Channel.Build <i>(alpha)</i>
    </div>
    <div id="logout" class="logout-link">Log Out</div>
  </div>
  <div class="app-wrapper">
    <h3>Welcome {{userName}}!</h3>
    <p>
      Use this page to update your application. Once you are done, click save at the bottom
      of this page to update the application. The update can takes a couple weeks
      to accomodate time for the app store to review and process your submission.
    </p>
    <form class="app-form">
      <div class="form-group">
        <label class="app-label">Name</label>
        <input type="text"
               name="name"
               class="app-text-input form-control text-name"
               placeholder="Your application name"
               value="{{name}}">
      </div>

      <div class="form-group">
        <label class="app-label">Description</label>
        <textarea name="description"
                  cols="40"
                  rows="5"
                  class="app-text-input form-control"
                  placeholder="Description for your app">{{description}}</textarea>
      </div>

      <div class="form-group">
        <label class="app-label">Visual Assets</label>
        <div class="uploader-block uploader-icon-small">
          {{> uploaderInstance id="1" width="400" height="240" name="assets_icon_small" button="Small Icon"}}
        </div>
        <div class="uploader-block uploader-icon-big">
          {{> uploaderInstance id="2" width="1280" height="768" name="assets_icon_big" button="Big Icon"}}
        </div>
        <div class="uploader-block uploader-banner">
          {{> uploaderInstance id="3" width="1920" height="720" name="assets_banner" button="Banner"}}
        </div>
      </div>

      <div class="form-group">
        <label class="app-label">Import Content</label>
        <p>
          Using your YouTube user, you can import content directly into Channel.
        </p>
        {{>youtube}}
      </div>

      <div class="form-group app-video-group">
        <label class="app-label">Video Content</label>
        {{>content}}
      </div>

      {{#if developer}}
      {{/if}}

      <div class="app-footer">
        <div class="app-footer-center">
          {{#if error}}
            <div class="alert alert-danger app-alert-error">{{error}}</div>
          {{/if}}
          <button type="submit" class="btn btn-success pull-right save-button">Save</button>
        </div>
      </div>
    </form>
  </div>
</template>
